.gitignore
.vscode-test/
.vscode-test.js
node_modules/
frontend/node_modules/
view/node_modules/
src/
frontend/**
!frontend/dist/**
view/**
*.vsix
.spec-workflow/
.cursor/
audit.log
eslint.config.mjs
pnpm-lock.yaml
!out/*.js
!out/*.js.map
!out/*.wasm
out/test/
media/**
media.workflow/**